# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
venv/
.env/

# Poetry
poetry.lock
# (но обычно poetry.lock нужно коммитить!)

# PyCharm
.idea/
.vscode/

# macOS
.DS_Store

# Прочее
*.log
*.sqlite3